<div>
  <button class="btn" [routerLink]="'/game/conversations'"><</button>
  <p>{{ conversationName() }}</p>
</div>

<div #messageContainer class="grow flex flex-col gap-1 overflow-scroll">
  @for(message of messageList(); track message) {
  <app-message [personName]="message.personName" [message]="message.content" />
  }
</div>

@if (responseList()) {
<p>Send:</p>
<div class="px-10 flex flex-col gap-2 p-1">
  @for (response of responseList(); track response) {
  <button class="btn btn-secondary" (click)="select(response)">
    {{ response }}
  </button>
  }
</div>
}
