<!-- <div class="flex items-center">
  <div class="avatar">
    <div class="mask mask-squircle w-24">
      <img
        src="https://img.daisyui.com/images/profile/demo/distracted3@192.webp"
      />
    </div>
  </div>
  <div class="content">
    <div class="arrow-white"></div>
    <div class="arrow-black"></div>

    <div class="background-white"></div>
    <div class="background-black"></div>
    <div class="text-area" style="max-width: 400px">
      {{ message() }}
    </div>
  </div>
</div> -->

<div class="chat-image avatar">
  <div class="w-10 rounded-full">
    <img
      alt="Tailwind CSS chat bubble component"
      src="https://img.daisyui.com/images/profile/demo/kenobee@192.webp"
    />
  </div>
</div>
<div class="chat-header">
  {{ personName() }}
  <time class="text-xs opacity-50">12:45</time>
</div>
<div class="chat-bubble">{{ message() }}</div>
<div class="chat-footer opacity-50">Delivered</div>
